.rubik-distressed {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
  color: blue;
}


.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.oswald-reg {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #111111;
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.img-styling {
    display: flex;
    max-width: 100vw;
    border-radius: 1.5%;
    padding: 0% 1% 0% 1%;
    justify-items: center;
}

.nav-link {
    color: blue;
}


.item-box {
    display: flex;
    flex-wrap: nowrap;
    border: solid 2px;
    border-color: blue;
    color: blue;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 0px;
    border-radius: 20px ;
    text-decoration: none;  
}

.item-box:hover {
    background-color: rgb(55, 55, 55);
}

.adventure-box {
    background-color: rgb(22, 22, 22);
    width: 60%;
    margin-top: 20px;
    color: blue;
}

.adventure-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between;
}

.carousel-box {
    width: 75%;
}

hr {
    border: solid 1.5px gray;
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.footer-title {
    margin-left: 30px;
    text-transform: uppercase;
}

.contact-box {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contact-info {
    padding-right: 5px;
}

.sponsor-box {
    list-style: none;
}

.logo {
    width: 200px;
    padding-bottom: 15px;
}

.location-container {
    position: relative;
    aspect-ratio: 16 / 9;
    width: calc(column);
}

.location-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.darken:hover{
    filter: brightness(70%);
    border: solid 1.5px white;
}

.overlay-text2 {
    position: absolute;
    top: 0%;
    left: 2%;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
}

.info-page {
    color: white;
}

.info-container {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 10px 0px 15px 20px;
    color: white;
    text-transform: uppercase;
    
}

.icon-container {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-left: 10px;
}

.info-title {
    font-size: 24px;
    padding-bottom: 10px;
}

.info-price {
    font-size: 30px;
    padding-bottom: 15px;
}

.form-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.form-container {
    display: flex;
    background-color: #333333;
    color: white;
}

.form-box {
    display: flex;
    padding-bottom: 20px;
    width: 300px;
    justify-content: end;
}

.form-label-box {
    display: flex;
    width: 145px;
}

.aboutus-container {
    background-color: #333333;
    color: white;
}